/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 1em; }

body {
  background-color: #FFF;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small, .font_small {
  font-size: 0.8em; }

/* Changing Susy default global settings */
/* Makes border-box properties */
*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: #F5F5F1; }

header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  top: 0;
  float: none;
  display: inline-block;
  padding-right: 4em;
  padding-top: 0.7em;
  padding-left: 4em;
  z-index: 5;
  background: white;
  box-shadow: 0px 18px 10px -15px rgba(0, 0, 0, 0.13); }

.header-column {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  height: 3em; }

.header-column:nth-child(3n+3) {
  width: 32.20339%;
  float: right;
  margin-right: 0; }

header h1 {
  position: relative;
  font-family: times;
  color: #F56400;
  text-align: center; }

.search {
  padding: 0.6em;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #dbdbdb;
  font-size: 14px;
  border-radius: 0.2em; }

.search-button {
  position: relative;
  padding: 0.6em;
  font-size: 14px;
  left: -8px;
  border: 2px solid #207cca;
  background-color: #207cca;
  color: #fafafa;
  border-radius: 0.2em; }

.search-button:hover {
  background-color: #3285D6; }

.icon-navigation {
  text-align: right;
  font-size: 2em; }

.listings {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .listings:after {
    content: " ";
    display: block;
    clear: both; }

.listing {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%; }

.listing:nth-child(3n+3) {
  width: 32.20339%;
  float: right;
  margin-right: 0; }

.listings {
  color: #999999;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 4em;
  margin-top: 7em; }

.listing {
  position: relative;
  background: white;
  height: 25em;
  margin-bottom: 0.8em;
  border-radius: 0.3em;
  border: solid 1px #D6D6D3;
  overflow: hidden;
  box-shadow: 0px 5px 21px -1px rgba(0, 0, 0, 0.24); }

.listing-price {
  padding: 0.3em; }

.listing-title {
  padding-left: 1em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis; }

.listing-description-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px -30px 55px -14px white; }

.listing-description {
  padding: 2em; }

.listing-img {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding-top: 1em; }

a {
  color: black;
  font-size: 0.6em;
  white-space: nowrap; }

@media (max-width: 700px) {
  .listing {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .listing:after {
      content: " ";
      display: block;
      clear: both; }
  .listing:nth-child(3n+3) {
    width: 100%;
    float: right;
    margin-right: 0; } }

.payment-container {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000; }

.payment {
  width: 500px;
  margin: 100px auto;
  background-color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 0.5em;
  box-shadow: 0px 0px 92px 21px rgba(0, 0, 0, 0.41); }

.payment input {
  display: block;
  padding: 1em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  background: #F5F5F1;
  color: #000;
  border-radius: 0.5em;
  font-size: 1em; }

.btn-complete {
  padding: 0.8em;
  background: #207CCA;
  color: white;
  font-size: 0.8em;
  border: none;
  border-radius: 0.3em;
  margin-top: 1em; }

.parsley-custom-error-message {
  text-align: left;
  padding-top: 0;
  padding-left: 1.8em;
  color: #f00;
  font-size: 13px;
  position: absolute; }
