body {
  background: #F5F5F1;
}
header {
  @include span(12);
  position: fixed;
  top: 0;
  float: none;
  // position: relative;
  display: inline-block;
  padding-right: 4em;
  padding-top: 0.7em;
  padding-left:4em;
  z-index: 5;
  background: white;
  box-shadow: 0px 18px 10px -15px rgba(0,0,0,0.13);
}
.header-column {
  @include span(4);
  height: 3em;
}
.header-column:nth-child(3n+3){
  @include span(4 last);
}
header h1 {
  position: relative;
  font-family: times;
  color: #F56400;
  text-align: center;
}
.search {
  padding:0.6em;
  background:rgba(255, 255, 255, 0.8);
  border:2px solid #dbdbdb;
  font-size: 14px;
  border-radius: 0.2em;
}
.search-button {
  position:relative;
  padding:0.6em;
  font-size: 14px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
  border-radius: 0.2em;
}
.search-button:hover  {
  background-color:#3285D6;
}
.header-payment {
  float: right;
  padding:0.6em;
  font-size: 14px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
  border-radius: 0.2em;
}