@import 'reset';
@import '../../node_modules/susy/sass/susy';
@import 'colors';
@import 'defaults';
/* Changing Susy default global settings */
$susy: (
  /* Tells Susy that the container has 12 columns*/
  columns: 12,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box 
);

/* Makes border-box properties */
@include border-box-sizing;
@import 'header';
@import 'listing-styles';
@import 'media-query';





