@import 'reset';
@import '../../node_modules/susy/sass/susy';
@import 'colors';
@import 'defaults';

/* Changing Susy default global settings */
$susy: (

  /* Tells Susy that the container has 12 columns*/

  columns: 12,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box 
);

/* Makes border-box properties */
@include border-box-sizing;
body {
  background: #F5F5F1;
}
a {
  color: black;
  font-size: 0.6em;
  white-space: nowrap;
}
.listings {
  @include container();
  color: #999999;
  font-size: 0.9em;
  margin: 4em;
}
.listing {
  @include span(4);
  position: relative;
  background: white;
  height: 25em;
  margin-bottom: 0.8em;
  border-radius: 0.3em;
  border: solid 1px #D6D6D3;
  overflow: hidden;
  box-shadow: 0px 5px 21px -1px rgba(0,0,0,0.24);
}
.listing-title-container{

  z-index: 5;
  width: 100%;
  height: 2em;
  box-shadow: inset -110px 14px 40px -70px rgba(255,255,255,1);
  position: absolute;
  right: 0;
  top: 50%;
}
.listing-title {
    padding-left:1em;
    margin: 0;
}
.listing-description-container {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left:0;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px -30px 55px -14px rgba(255,255,255,1);
}
.listing-description {
    padding:2em;
}
.listing-img {
  display: block;
  margin:0 auto;
  width:200px;
  padding-top: 1em;
}

.listing:nth-child(3n+3) {
  @include span(4 last);
}

@media (max-width: 600px) { 
  .listing {
    @include span(12);
    @include container();
  }
  .listing:nth-child(3n+3) {
  @include span(12 last);
  }
}